import(zoo)
import(lattice)
import(latticeExtra)
import(methods)
importFrom(graphics, plot)

export(
       ##small utilities
       hour,
       minute,
       second,
       hms,
       doy,
       dom,
       month,
       year,
       DoY,
       DoM,
       Month,
       Year,
       dst,
       d2r,
       r2d,
       h2r,
       h2d,
       r2h,
       d2h,
       r2sec,
       lonHH,
       local2Solar,
       CBIND,
       diff2Hours,
       char2diff,
       sample2Hours,
       P2E,
       truncDay,
       ##main functions
       fBTd,
       fSolD,
       fSolI,
       fTemp,
       fCompD,
       fCompI,
       fTheta,
       fInclin,
       fProd,
       fSombra,
       fSombra2X,
       fSombra6,
       fSombraHoriz,
       fSombraEst,
       fPump,
       HQCurve,
       NmgPVPS,
       analyzeData,
       TargetDiagram,
       ## Correlations
       FdKtPage,
       FdKtLJ,
       FdKtCPR,
       FdKtEKDd,
       FdKtCLIMEDd,
       FdKtEKDh,
       FdKtCLIMEDh,
       FdKtBRL,       
       ##constructors
       calcSol,
       calcG0,
       calcGef,
       calcShd,
       prodGCPV,
       prodPVPS,
       optimShd,
       readMAPA,
       readG0dm,
       readBD,
       readBDi,
       df2Meteo,
       dfI2Meteo,
       zoo2Meteo
       )

exportMethods(
              getData,
              getG0,
              getLat,
              indexD,
              indexI,
              as.zooD,
              as.zooI,
              as.zooM,
              as.zooY,
              as.data.frameD,
              as.data.frameI,
              as.data.frameM,
              as.data.frameY,
              as.data.frame,#Shade
              show,
              xyplot,
              levelplot,
              shadeplot,
              losses,
              compare,
              compareLosses,
              mergesolaR)

exportClasses(
              Meteo,
              Sol,
              G0,
              Gef,
              ProdGCPV,
              ProdPVPS,
              Shade
              )
  
